html, body {
    height: 100%;
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #4a4a4a;
}

body {
    margin: 0;
    padding: 40px 0 0 0;
    min-height: 100%;
}

.header-panel {
    position: fixed;
	  z-index: 1000;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 3px 2px rgba(0, 10, 10, 0.2);
    font-size: x-large;
}

.header-container {
    position: absolute;
    bottom: 0;
}

.hamburger {
    position: fixed;
    left: -15px;
    opacity: 0.5;
}

.title {
    float: left;
    margin-left: 20px;
}

.content {
    width: 100%;
    min-height: 100%;
}

.menu-panel, .main, .swipe, .fade-layer {
	  top: 0;
    float: left;
    min-height: 100%;
}

.menu-panel {
    position: fixed;
    top: auto;
   	width: 240px;
	  z-index: 500;
	  left: -240px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 3px 2px rgba(0, 10, 10, 0.2);

    transition: all 0.4s;
}

.menu-panel a {
    padding: 1em;
  	display: block;
	  font-size: 1.1em;
	  font-weight: 300;
    padding-top: 1em;
    box-shadow: 0px 1px 1px rgba(50, 80, 80, 0.1);
}

.menu-open {
    -webkit-transform: translate(240px, 0);
          transform: translate(240px, 0);
}

.swipe {
    position: fixed;
    min-width: 20px;
}

.main {
    margin-left: 20px;

    transition: all 0.4s;
}

.fade-layer {
    position: fixed;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    opacity:0.5;
    visibility: hidden;
    z-index:1;

    transition: background-color 0.4s;
}

@media only screen and (min-width: 850px) {
    .menu-panel {
        left: 0px;
        top: 60px;
    }

    .main, .swipe {
        position: absolute;
        top: auto;
        left: 240px;
    }

    .header-panel {
        height: 60px;
        font-size: xx-large;
    }

    .hamburger {
        visibility: hidden;
    }

    .title {
        float: left;
        margin-left: 20px;
    }

}
